# Dev environment
.direnv

# Build output
**/target
.deploy-tmp

# Test output
**/test-output

# Web build output
web/node_modules
web/dist

# Local config for quick iteration
TestConfig.toml

# Runtime artifacts
auth.secret
collection.index
polaris.log
polaris.ndb
polaris.pid
profile.json
polaris.toml
peaks
thumbnails

# Release process artifacts (usually runs on CI)
release
*.res

cache
