/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind CSS directives */
@tailwind base;
/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind CSS directives */
@tailwind components;
/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind CSS directives */
@tailwind utilities;

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/InterVariable.woff2?v=4.0") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/InterVariable-Italic.woff2?v=4.0") format("woff2");
}
